p {
    color: black;
    font-weight: bold;
    font-size: 0.75rem;
    margin: 0;
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #38793b; 
    border-radius: 50px;
    padding: 0.5% 1.5%;
    background-color: white; 
}
