.itemContainer {
    display: flex;
    align-items: center;
    background-color: #b0dbb2; /* Green background */
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
}

.itemContainer:hover{
    background-color: rgba(56, 121, 59, 0.5); 
    cursor: pointer;
}

.itemImage {
    width:80px;
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 15px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width:200px;
}

.itemTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.tagsContainer {
    display: flex;
    gap: 10px;
}
