__pycache__/
*.py[cod]
*.deb
*.sql
*.sqlite3
db.sqlite3
.env

# random test files
*.json
*.html


# IDE files
.vscode/
.idea/

# Virtual environments
.venv/
venv/

#django migrations
*/migrations/
backend/db.sqlite3
