.recipe-container {
    display: flex;
    flex-direction: column;
    position: relative; /* Allows absolute positioning */
    height: -webkit-fill-available;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shopping-list-button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
