.recipe-container {
    display: flex;
    flex-direction: column;
    position: relative; /* Allows absolute positioning */
    height: inherit;
    height:100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.recipeListContainer{
    overflow-y:auto;
    height: 100%;
    padding-right: 15px;
    padding-left:10px;
}


@media screen and (max-width: 800px){
    .recipeListContainer{
        width:max-content;
    }
}