.recipeInput{
    border: 3px solid #38793b; 
    border-radius: 10px;
    padding:5px;
}

.searchContainer{
    display: flex;
    align-items: center; 
    gap: 10px;
}

.searchLeft, .searchRight {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 20px;
    position: relative;
}

.searchMiddle {
    flex: 1;
    text-align:center;
}

.searchRight:hover, .searchLeft:hover{
    cursor:pointer;
}

.filterTagContainer{
    margin-top:10px;
    margin-bottom:10px;
}