.recipeInput{
    border: 2px solid #38793b; 
    border-radius: 10px;
    padding:5px;
}

.searchContainer{
    display: flex;
    align-items: center; 
    justify-content: center; /* Center everything horizontally */
    width: 100%; 
}

.searchLeft, .searchRight {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 0 1 auto; /* Allow these to grow or shrink based on available space */
    margin: 0 10px; /* Add margin for spacing */
}

.searchMiddle {
    flex: 1;
    text-align:center;
}

.searchRight:hover, .searchLeft:hover{
    cursor:pointer;
}

.filterTagContainer{
    margin-top:10px;
    margin-bottom:10px;
}