.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #b0dbb2; 
    height: inherit;
    /*border-radius: 10px; */
}

.navContainer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
    justify-content: space-between;
    width: stretch;
}

.navContainer li {
    cursor: pointer;
    font-weight: bold;
    width: 30%; 
    flex-grow: 1; 
    text-align: center;
    font-size:x-large;
}
.navContainer li:hover {
    color:#38793b
}
.navContainer button{
    cursor: pointer;

    background-color:transparent;
    border:none;
}
.navContainer button:hover{
    color:#38793b
}
.userProfile {
    display: flex;
    align-items: center;
    color: black;
    margin-right:25px;
}
.middleNav{
    flex-grow:1;
    display:flex;
    justify-content:center;
}
