.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navigation-bar {
    height: 75px;
    flex-shrink: 0; 
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100%;
    overflow-y:scroll;
}
button {
    padding: 8px 15px!important;
    border-radius: 10px;
    border: none;

}

button:hover {
    cursor:pointer;
}

.add-button{
    background-color:#b0dbb2;
}

.delete-button {
    background-color: red;
    color: white;
}

.shopping-list-button {
    background-color: #6bb2f4!important;
    border-radius: 10px!important;
    color: white!important;
}

.save-button {
    background-color: #6bb2f4;
    color: white;
}

.reset-button{
    background-color:#d2d2d2;
}

.apply-button{
    background-color: #6bb2f4;
    color: white;
}

.cancel-button{
    background-color: #d2d2d2;
}

.done-button{
    background-color: #6bb2f4;
    color: white;
}