.mainContainer {
    display: flex;          
    gap: 20px;   
    flex-grow:1;     
    height:inherit;
}

.sideContainer {
    display: flex;
    flex-direction: column; 
    width: 30%;        
    height:inherit;    
}

.recipeContentContainer {
    width: 70%;         
    transition: opacity 0.2s ease-in-out;    
    min-width: 700px;
    height:100%;
}

.separator {
    width: 5px; 
    background-color: #ccc; 
    height: 100%; 
    flex-shrink: 0;
    border-radius: 50px;
}


