.mainContainer {
    display: flex;          
    align-items: stretch; 
    gap: 20px;   
    height:inherit;           
}

.sideContainer {
    display: flex;
    flex-direction: column; 
    width: 30%;            
}

.recipeContent {
    width: 70%;             
}

.separator {
    width: 5px; 
    background-color: #ccc; 
    height: 100%; 
    flex-shrink: 0;
    border-radius: 50px;
}
