.rbc-time-header.rbc-overflowing {
    margin-right: 0 !important;
}

.rbc-label.rbc-time-header-gutter {
    display: none;
}


/* Make the all-day row take the entire height */
.rbc-allday-cell {
    height: 100%;
    /* Ensures it stretches across available height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rbc-time-header {
    height: 100%;
}

/* Optional: Style all-day events to make them display neatly */
.rbc-allday-cell .rbc-event {
    margin: 5px;
    display: inline-block;
    width: 100%;
    /* Ensure all-day events take the full width available */
}

/* Center the calendar on the page */
.calendarContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding:10px;
}

/* Style the toolbar container to stack label and buttons vertically */
.rbc-toolbar {
    display: flex;
    justify-content: space-between !important;  /* Distribute space between elements */
    width: 100%;
    padding: 0;  
    padding-top:10px;
  }
  
  /* Ensure label (date) is centered */
  .rbc-toolbar-label {
    font-size: 16px;
    text-align: center;
    width: 100%;  /* Allow label to take full width */
    margin-bottom: 10px;
  }
  
  /* Align buttons to the left */
  .rbc-btn-group {
    display: flex;
    gap: 10px;
  }
  
  /* Align Add to Shopping List button to the right */
  .rbc-btn-group-right {
    display: flex;
  }
  

  