.rbc-time-header.rbc-overflowing {
  margin-right: 0 !important;
}

.rbc-label.rbc-time-header-gutter {
  display: none;
}

/* Make the all-day row take the entire height */
.rbc-allday-cell {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rbc-time-header {
  height: 100%;
}

.rbc-allday-cell {
  height: auto;
  display: block;
  overflow: hidden;
}

.rbc-allday-cell .rbc-event {
  width: auto;
  display: block;
  text-align: center;
  margin: 2px auto;
}


.calendarContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Style the toolbar container to stack label and buttons vertically */
.rbc-toolbar {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  padding: 0;
  padding-top: 10px;
}

.rbc-toolbar-label {
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.rbc-btn-group {
  display: flex;
  gap: 10px;
}

.rbc-btn-group-right {
  display: flex;
}

.recipeGrid {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3px;
  justify-items: center;
  align-items: center;
  width: 1000px;
}

.recipeGrid h3 {
  margin-bottom:0;
}